/* 基本のスタイル */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #ddd; /* テキストの色を明るいグレーに */
    background-color: #000; /* 背景色を黒に */
}

/* ヘッダーのスタイル */
header {
    background: #111; /* ヘッダーの背景色を少し明るい黒に */
    color: #fff;
    padding: 10px 0;
}

header .container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    font-size: 24px; /* ヘッダーのタイトルのサイズ */
}

/* プルダウンメニューのスタイル */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #333; /* ボタンの背景色 */
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover {
    background-color: #444; /* ホバー時の背景色 */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #222; /* プルダウンメニューの背景色 */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    z-index: 1;
}

.dropdown-content a {
    color: #ddd; /* メニューアイテムのテキスト色 */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #333; /* メニューアイテムのホバー時の背景色 */
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* コンテナのスタイル */
.container {
    width: 90%;
    margin: 0 auto;
}

/* セクションのスタイル */
section {
    padding: 20px 0;
}

h2 {
    border-bottom: 2px solid #444; /* セクションタイトル下のボーダー */
    padding-bottom: 10px;
    color: #fff; /* セクションタイトルの色 */
}

article {
    margin-bottom: 20px;
}

/* アーティスト画像のスタイル */
.artist-img {
    max-width: 100%;
    height: auto;
}

/* フッターのスタイル */
footer {
    background: #111; /* フッターの背景色 */
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
